# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# TS build info
*.tsbuildinfo

# Vite cache
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Coverage
coverage/
*.lcov
